accelerate>=0.21.0
av
basicsr @ git+https://github.com/Spycsh/BasicSR
beautifulsoup4
chromadb==0.4.15
cn2an
datasets
deepface
diffusers==0.12.1
dlib-bin
easyocr
einops
evaluate
exifread
face_alignment==1.3.5
facexlib @ git+https://github.com/Spycsh/facexlib@master
faiss-cpu
fastapi
ffmpeg-python==0.2.0
FlagEmbedding
fschat==0.2.35
g2p_en
gfpgan
git+https://github.com/EleutherAI/lm-evaluation-harness.git@cc9778fbe4fa1a709be2abed9deb6180fd40e7e2
gptcache
huggingface_hub
imageio==2.19.3
imageio-ffmpeg==0.4.7
inflect
InstructorEmbedding
intel_extension_for_pytorch==2.2.0
jaconv
jieba
joblib==1.2.0
jsonlines
kornia==0.6.8
langchain==0.1.11
langchain-community==0.0.27
langid
librosa
markdown
neural-compressor
neural_speed==1.0a0
num2words
numba
numpy==1.23.5
onnx>=1.15.0
onnxruntime>=1.16.3
openjtalk; sys_platform != 'linux'
openpyxl
optimum
optimum-intel==1.11.0
optimum[habana]
peft==0.6.2
protobuf==3.20.2
pydantic==1.10.13
pydub
PyMuPDF
pymysql
pyopenjtalk; sys_platform == 'linux'
pypinyin
python-docx
python-multipart
pyyaml
qdrant-client
rank_bm25
resampy==0.3.1
rouge_score
sacremoses
safetensors
scikit-image==0.19.3
scikit-learn
scipy==1.10.1
sentence-transformers==2.3.1
shortuuid
soundfile
spacy
speechbrain==0.5.15
starlette
tiktoken==0.4.0
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tqdm
transformers==4.36.2
transformers_stream_generator
unstructured
urllib3
uvicorn
vector_quantize_pytorch
vllm
webrtcvad
yacs
zhconv
