transformers>=4.31.0
peft
fastchat
torch
intel_extension_for_pytorch
num2words
speechbrain
paddlepaddle
paddlespeech
shortuuid
gptcache
evaluate
fschat
pydub
python-multipart
PyPDF2
langchain
python-docx
farm-haystack
numpy==1.23.5
librosa=0.10.0