transformers>=4.31.0
peft
fastchat
torch
intel_extension_for_pytorch
num2words
speechbrain
paddlepaddle
paddlespeech==1.4.1
shortuuid
gptcache
evaluate
fschat
pydub
librosa>=0.10.0
python-multipart
PyPDF2
langchain
python-docx
pip install farm-haystack==1.14.0
