accelerate
protobuf
sentencepiece != 0.1.92
datasets >= 1.1.3
torch >= 1.10
transformers
wandb
git+https://github.com/intel/neural-compressor.git@6efe818497d5e424deac42580f9fde84f8b8723d
git+https://github.com/EleutherAI/lm-evaluation-harness.git@83dbfbf6070324f3e5872f63e49d49ff7ef4c9b3
