*.pyc
.vscode
.idea
/venv/
*/__pycache__
*.snapshot
*.so
*.pb
*.ckpt
*.log
*.swp
*.onnx
tags
build/
_build
dist/
nlp_toolkit.egg-info/

/.vs

/nlp_toolkit/backends/neural_engine/.vs
/nlp_toolkit/backends/neural_engine/out
/examples/**/*.npy
/examples/**/*.bin
/examples/**/*.yaml
/examples/**/data/
/examples/**/model_and_tokenizer/
/examples/**/*ir*/
