*.pyc
.vscode
.idea
/venv/
*/__pycache__
*.snapshot
*.so
*.so.*
*.pb
*.ckpt
*.log
*.swp
*.onnx
tags
build/
_build
dist/

# build / dist files
/intel_extension_for_transformers/intel_extension_for_transformers[.-]*/
/intel_extension_for_transformers/neural_engine_*
/intel_extension_for_transformers/*.dll
/intel_extension_for_transformers/_version.py
/intel_extension_for_transformers[.-]*
/neural_engine_py*

/.vs

# CMakeUserPresets.json should be ignored. See: https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html
CMakeUserPresets.json

/intel_extension_for_transformers/backends/neural_engine/.vs
/intel_extension_for_transformers/backends/neural_engine/out
/examples/**/*.npy
/examples/**/*.bin
/examples/**/*.yaml
/examples/**/data/
/examples/**/tmp/
/examples/**/model_and_tokenizer/
/examples/**/*ir*/
build_tmp
/workflows/chatbot/demo/front_end/node_modules
/workflows/chatbot/demo/front_end/front_end/.svelte-kit
.DS_Store
examples/huggingface/pytorch/text-classification/early-exit/wandb
examples/huggingface/pytorch/text-classification/early-exit/.venv
/intel_extension_for_transformers/backends/neural_engine/graph/.vs
examples/huggingface/pytorch/text-classification/early-exit/test/output_*/
