ninja
cmake
py-cpuinfo
setuptools>=65
setuptools_scm[toml]>=6.2
accelerate
datasets
texttable
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us
torch==2.0.1a0
intel_extension_for_pytorch==2.0.110+xpu
