--extra-index-url https://download.pytorch.org/whl/cpu
accelerate
auto-gptq
auto-round==0.2
bitsandbytes
datasets==2.16.1
einops
evaluate
gguf
git+https://github.com/intel/neural-compressor.git
git+https://github.com/intel/neural-speed.git
intel-extension-for-pytorch==2.3.0
intel-tensorflow==2.14.0
lm-eval==0.4.2
mlflow
nlpaug==1.1.9
onnx
onnxruntime
optimum
peft==0.6.2
py-cpuinfo
sacremoses
sentencepiece != 0.1.92
tiktoken
tokenizers==0.15.2
torch==2.3.0+cpu
torchprofile
torchvision==0.18.0+cpu
transformers==4.37.2
transformers_stream_generator
tyro
wget
