--find-links https://download.pytorch.org/cpu/whl/torch_stable.html
accelerate
bitsandbytes
datasets==2.14.7
einops
evaluate
gguf
git+https://github.com/intel/neural-compressor.git
intel-extension-for-pytorch==2.1.0
intel-tensorflow==2.13.0
mlflow
neural-speed
nlpaug==1.1.9
onnx>=1.10
onnxruntime
optimum-intel
peft==0.6.2
sacremoses
sentencepiece != 0.1.92
tiktoken
tokenizers
torch==2.1.0
torchprofile
transformers==4.36.2
transformers_stream_generator
tyro
wget
