accelerate
sentencepiece != 0.1.92
protobuf
datasets
transformers
onnx
rouge-score
nltk
git+https://github.com/intel/intel-extension-for-pytorch.git
git+https://github.com/intel/neural-compressor.git
git+https://github.com/huggingface/optimum-intel.git
