accelerate
datasets >= 2.0
peft
protobuf
sentencepiece != 0.1.92
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us/
torch==2.1.0a0
transformers
optimum-intel
bitsandbytes  #baichuan
transformers_stream_generator
tiktoken  #qwen
einops  #qwen
auto-round
git+https://github.com/intel/neural-compressor.git
git+https://github.com/EleutherAI/lm-evaluation-harness.git@cc9778fbe4fa1a709be2abed9deb6180fd40e7e2
