accelerate
datasets >= 2.0
peft
protobuf
sentencepiece != 0.1.92
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0+cpu
transformers==4.38.1
intel_extension_for_pytorch==2.3.0
optimum-intel==1.16.1
bitsandbytes  #baichuan
transformers_stream_generator
tiktoken  #qwen
einops  #qwen
git+https://github.com/intel/neural-compressor.git
lm-eval==0.4.2
huggingface_hub
