accelerate
datasets >= 2.0
peft
protobuf
sentencepiece != 0.1.92
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us/
torch==2.1.0a0
transformers==4.35
transformers_stream_generator
git+https://github.com/intel/neural-compressor.git
lm-eval=0.4.2
huggingface_hub==0.22
