accelerate
datasets >= 2.0
peft
protobuf
sentencepiece != 0.1.92
torch >= 1.10.0
transformers
neural-compressor
intel_extension_for_pytorch
optimum-intel
git+https://github.com/EleutherAI/lm-evaluation-harness.git@2c18e367c6ded428863cd1fd4cf9558ca49d68dc
