apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.pvc.name }}
  namespace: {{ .Values.metadata.namespace }}
spec:
  storageClassName: {{ .Values.pvc.scn }} # nfs-client
  accessModes:
    - "ReadWriteOnce"
  resources: 
    requests:
      storage: {{ .Values.pvc.resources }}
