--extra-index-url https://download.pytorch.org/whl/cpu
accelerate
datasets
git+https://github.com/huggingface/optimum-intel.git@50d867c13b22c22eda451ddb67bddb8159670f85
intel-extension-for-pytorch==2.3.0
intel-tensorflow==2.12.0
onnx
onnxruntime
onnxruntime_extensions
peft
torch==2.3.0+cpu
transformers
