transformers==4.36.0
torch==2.0.1
sentencepiece
accelerate
datasets
git+https://github.com/EleutherAI/lm-evaluation-harness.git@008fc2a23245c40384f2312718433eeb1e0f87a9
tiktoken
transformers_stream_generator
peft
einops
protobuf
git+https://github.com/intel/auto-round.git@d3bca7778441d4e97a82648ef88229ce98348e37

