intel_extension_for_transformers
neural-speed
lm-eval==0.4.3
sentencepiece
gguf
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0+cpu
transformers
tiktoken
transformers_stream_generator
zipfile38
