intel_extension_for_transformers
neural-speed
git+https://github.com/EleutherAI/lm-evaluation-harness.git@cc9778fbe4fa1a709be2abed9deb6180fd40e7e2
sentencepiece
gguf
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
transformers
intel_extension_for_pytorch==2.2.0
tiktoken
transformers_stream_generator
