metadata:
  name: itrex-distributed
  namespace: kubeflow

distributed:
  eval:
    batch_size: 64
  image:
    image_name: intel/ai-tools
    image_tag: itrex-devel-1.1.0
  model_name_or_path: distilbert-base-uncased
  resources:
    cpu: 32
    memory: 16Gi
  task_name: sst2
  teacher_model_name_or_path: textattack/bert-base-uncased-SST-2
  train:
    batch_size: 64
  workers: 4

pvc:
  name: itrex
  scn: nil
  resources: 2Gi

