--extra-index-url https://download.pytorch.org/whl/cpu
accelerate==0.21.0
datasets==2.11.0
intel-extension-for-transformers==1.1
intel_extension_for_pytorch==1.13.100
neural-compressor==2.1
torch==1.13.1
transformers
