transformers
soundfile
datasets
pydub
python-multipart
speechbrain
librosa
zhconv
num2words
zhconv
urllib3
langid
qdrant-client
vector_quantize_pytorch
cn2an
pypinyin
pyopenjtalk; sys_platform == 'linux'
openjtalk; sys_platform != 'linux'
jaconv
webrtcvad
g2p_en
inflect
jieba