beautifulsoup4
chromadb==0.4.15
easyocr
FlagEmbedding
InstructorEmbedding
langchain_core==0.1.35
langchain==0.1.11
langchain-community==0.0.27
langid
markdown
openpyxl
PyMuPDF
python-docx
qdrant-client
rank_bm25
scikit-learn
sentence-transformers==2.3.1
torch==2.2.0
torchaudio==2.2.0
unstructured[all-docs]
