PyPDF2
langchain==0.0.354
langchain_core
python-docx
beautifulsoup4
unstructured
InstructorEmbedding
chromadb==0.4.15
openpyxl
scikit-learn
markdown
qdrant-client
langid
git+https://github.com/UKPLab/sentence-transformers.git@5c838a705c24c2dfd151a71674c99d09d014c1a9
