bs4
chromadb
deepface
exifread
git+https://github.com/UKPLab/sentence-transformers.git@5c838a705c24c2dfd151a71674c99d09d014c1a9
InstructorEmbedding
langchain
langchain_core
langid
openpyxl
pydub
pymysql
PyPDF2
python-docx
unstructured
