beautifulsoup4
chromadb==0.4.15
git+https://github.com/UKPLab/sentence-transformers.git@5c838a705c24c2dfd151a71674c99d09d014c1a9
InstructorEmbedding
langchain==0.0.354
langchain_core
langid
markdown
openpyxl
PyPDF2
python-docx
qdrant-client
scikit-learn
unstructured
