transformers>=4.35.2
peft
fschat==0.2.32
shortuuid
evaluate
fastapi==0.103.2
pydantic==1.10.13
starlette
yacs
uvicorn
optimum
rouge_score
numpy==1.23.5
git+https://github.com/EleutherAI/lm-evaluation-harness.git@cc9778fbe4fa1a709be2abed9deb6180fd40e7e2
neural-compressor
intel_extension_for_pytorch
einops
cchardet
python-multipart
python-dotenv
fastapi-users[sqlalchemy,oauth]
aiosqlite
