cchardet
deepface
einops
evaluate
ExifRead
fastapi
fschat==0.2.35
intel-extension-for-transformers
neural-compressor
numpy==1.23.5
pydantic==1.10.13
pydub
pymysql
python-dotenv
python-multipart
rouge_score
shortuuid
starlette
transformers>=4.35.2
uvicorn
yacs
