transformers>=4.31.0
peft
fastchat
torch
intel_extension_for_pytorch
num2words
speechbrain
paddlepaddle
paddlespeech==1.4.1
shortuuid
gptcache
evaluate
fschat
pydub
python-multipart
PyPDF2
langchain
python-docx
scikit-learn
farm-haystack
numpy==1.23.5
librosa=0.10.0
docx
beautifulsoup4
InstructorEmbedding
chromadb
fastapi
pydantic
starlette
yacs
uvicorn
optimum
optimum[habana]
deepspeed
