scikit-learn
farm-haystack
transformers>=4.32.1
fschat
num2words
paddlepaddle
paddlespeech==1.4.1
shortuuid
gptcache
evaluate
pydub
python-multipart
PyPDF2
langchain
python-docx
librosa
beautifulsoup4
InstructorEmbedding
chromadb
fastapi
pydantic
starlette
yacs
uvicorn
unstructured
markdown
rouge_score
openpyxl
numpy==1.23.5
tiktoken==0.4.0
cchardet
transformers_stream_generator==0.0.4
spacy
neural-compressor

