transformers>=4.32.0
fschat
num2words
paddlepaddle
paddlenlp
paddlespeech
paddle2onnx
shortuuid
gptcache
evaluate
pydub
python-multipart
PyPDF2
langchain
python-docx
scikit-learn
librosa
beautifulsoup4
InstructorEmbedding
chromadb==0.4.15
fastapi==0.103.2
pydantic==1.10.13
starlette
yacs
uvicorn
unstructured
markdown
rouge_score
openpyxl
numpy==1.23.5
tiktoken==0.4.0
cchardet
transformers_stream_generator==0.0.4
spacy
neural-compressor==2.3.1
einops
pymysql
deepface
exifread
