transformers>=4.35.2
peft==0.6.2
fschat==0.2.32
intel_extension_for_pytorch==2.1.0
num2words
speechbrain
paddlepaddle
paddlespeech
shortuuid
gptcache
evaluate
pydub
python-multipart
PyPDF2
langchain==0.0.354
langchain_core
python-docx
scikit-learn
librosa
beautifulsoup4
InstructorEmbedding
chromadb==0.4.15
fastapi==0.103.2
pydantic==1.10.13
starlette
yacs
uvicorn
optimum
optimum-intel
git+https://github.com/UKPLab/sentence-transformers.git@5c838a705c24c2dfd151a71674c99d09d014c1a9
unstructured
markdown
rouge_score
openpyxl
numpy==1.23.5
tiktoken==0.4.0
git+https://github.com/EleutherAI/lm-evaluation-harness.git@cc9778fbe4fa1a709be2abed9deb6180fd40e7e2
transformers_stream_generator==0.0.4
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0
torchaudio==2.1.0
spacy
neural-compressor
pymysql
deepface
exifread
einops
cchardet
zhconv
urllib3
langid
qdrant-client
