--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/us/
accelerate==0.28.0
cchardet
einops
evaluate
fastapi
fschat==0.2.32
huggingface_hub
intel_extension_for_pytorch==2.3.0
lm-eval==0.4.3
neural-compressor
neural_speed==1.0a0
numpy==1.23.5
oneccl_bind_pt
optimum
optimum-intel
peft==0.6.2
pydantic==1.10.13
python-dotenv
python-multipart
rouge_score
sacremoses
shortuuid
starlette
tiktoken==0.4.0
torch==2.3.0
torchaudio==2.3.0
transformers>=4.35.2
transformers_stream_generator
uvicorn
yacs
