--extra-index-url https://download.pytorch.org/whl/cpu
cchardet
deepface
einops
evaluate
ExifRead
fastapi
fschat==0.2.32
git+https://github.com/EleutherAI/lm-evaluation-harness.git@cc9778fbe4fa1a709be2abed9deb6180fd40e7e2
intel-extension-for-transformers
intel_extension_for_pytorch==2.1.0
neural-compressor
neural_speed
numpy==1.23.5
optimum
optimum-intel
peft==0.6.2
pydantic==1.10.13
pydub
pymysql
python-dotenv
python-multipart
rouge_score
shortuuid
starlette
tiktoken==0.4.0
torch==2.1.0
torchaudio==2.1.0
transformers>=4.35.2
uvicorn
yacs
