transformers==4.32.1
peft
fschat
num2words
speechbrain
paddlepaddle==2.4.2
paddlenlp==2.5.2
paddlespeech==1.4.1
paddle2onnx==1.0.6
shortuuid
gptcache
evaluate
pydub
python-multipart
PyPDF2
langchain
python-docx
scikit-learn
farm-haystack
librosa
beautifulsoup4
InstructorEmbedding
chromadb
fastapi
pydantic
starlette
yacs
uvicorn
optimum
optimum-intel
git+https://github.com/UKPLab/sentence-transformers.git
unstructured
markdown
rouge_score
openpyxl
numpy==1.23.5
tiktoken==0.4.0
lm_eval
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0
torchaudio==2.1.0
spacy
neural-compressor==2.3.1
