transformers>=4.32.0
scikit-learn
peft
fschat
num2words
speechbrain
paddlepaddle
paddlespeech==1.4.1
shortuuid
gptcache
evaluate
pydub
python-multipart
PyPDF2
langchain
python-docx
farm-haystack>=1.20.1
librosa
beautifulsoup4
InstructorEmbedding
chromadb
fastapi
pydantic
starlette
yacs
uvicorn
optimum
git+https://github.com/UKPLab/sentence-transformers.git
unstructured
markdown
rouge_score
openpyxl
numpy==1.23.5
tiktoken==0.4.0
lm_eval
spacy
neural-compressor