cchardet
einops
evaluate
fastapi
fschat==0.2.35
git+https://github.com/EleutherAI/lm-evaluation-harness.git@cc9778fbe4fa1a709be2abed9deb6180fd40e7e2
huggingface_hub
neural-compressor
numpy==1.23.5
optimum
peft
pydantic==1.10.13
python-dotenv
python-multipart
rouge_score
sacremoses
shortuuid
starlette
transformers>=4.35.2
uvicorn
yacs
